/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@500;700;900&display=swap');


/* ----- Variables ----- */
* {
    /** Colores primarios */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: rgb(56, 41, 224);
    --grey-color: #808080;

    /** Colores neutrales */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);

    --red-hat-display: 'Red Hat Display', sans-serif;
}

body {
    font-family: var(--red-hat-display);
    font-size: 16px;
    background-color: var(--pale-blue);
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: cover;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: var(--white);
    width: 400px;
    border-radius: 15px;

    box-shadow: 0px 20px 15px #C6D2FC;
}

.card__image > img {
    width: 100%;
}

.card__image > img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card__body {
    padding: 40px;
    text-align: center;
}

.card__body > h2 {
    margin: 0px;
}

.card__body > p {
    color: var(--grey-color);
    padding: 0px 10px;
    line-height: 23px;
}

.card__body__price {
    background-color: var(--very-pale-blue);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.card__body__price > div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: auto;
}

.card__body__price > div > small:first-child {
    font-weight: 900;
    margin-bottom: 8px;
}

.card__body__price > div > small:last-child {
    color: var(--grey-color);
}

a {
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.card__body > button:first-of-type {
    display: block;
    width: 100%;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 30px 0px;

    box-shadow: 0px 10px 25px rgba(56, 41, 224, .4);
}

.card__body > button:first-of-type:hover {
    background-color: rgba(56, 41, 224, .6);
    cursor: pointer;
}

.card__body > button:last-of-type {
    background-color: transparent;
    border: none;
    color: var(--grey-color);
    font-weight: 900;
    font-size: 13px;
}

.card__body > button:last-of-type,
.card__body > button:first-of-type {
    transition: .5s;
}

.card__body > button:last-of-type:hover,
.card__body > button:first-of-type:hover {
    cursor: pointer;
} 

.card__body > button:last-of-type:hover {
    color: var(--dark-blue);
}

@media screen and ( max-width: 991px) {
    body {
        background-color: var(--pale-blue);
        background-image: url('../images/pattern-background-mobile.svg');
        background-size: cover;
    }
    
    .card {
        width: 350px;
    }

    .card__body > p {
        padding: 0px;
    }

    a {
        font-weight: 900;
    }
}