/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


/* ----- Variables ----- */
* {
    /* Colores primarios */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --background: #D5E1EF;

    /* Colores neutrales */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --grey-color: #808080;
    --white: hsl(0, 0%, 100%);

    --outfit-fontfamily: 'Outfit', sans-serif;
}

body {
    font-size: 18px;
    font-family: var(--outfit-fontfamily);
    background-color: var(--background);
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card {
    background-color: var(--white);
    padding: 30px;
    border-radius: 30px;
    width: 350px;
    box-shadow: 2px 20px 25px #CED7E6;
}

img {
    width: 100%;
    border-radius: 15px;
}

.card__description {
    text-align: center;
    padding: 0px 20px;
}

.card__description > h2 {
    font-weight: 600;
}

.card__description >  p {
    color: var(--grey-color);
}

@media screen and (max-width: 991px) {
    .card__description {
        padding: 0px 10px;
    }
}